Source: mp3tom4b
Section: sound
Priority: optional
Maintainer: David Steele <dsteele@gmail.com>
Build-Depends: debhelper (>=9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/davesteele/mp3tom4b
X-Python3-Version: >= 3.6

Package: mp3tom4b
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, ffmpeg, gpac, mp4v2-utils
Description: convert MP3 audio files to an ".m4b" audiobook
 This command-line utility can convert a series of MP3 files
 into an iTunes-compatible audiobook format, with cover art,
 metadata, and chapter indexes.
