#!/usr/bin/make -f

export PYBUILD_NAME=mp3tom4b
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/mp3tom4b\
 --install-scripts=/usr/share/mp3tom4b

manpages = $(shell (ls debian/*.md | sed 's/.md//'))


%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	for mn in ${manpages}; do \
	  pandoc $$mn.md -s -t man -o $$mn; \
	  pandoc $$mn.md -s -t html -o $$mn.html; \
	done
