#!/usr/bin/make -f

export PYBUILD_NAME=mp3tom4b
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/mp3tom4b\
 --install-scripts=/usr/share/mp3tom4b

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_clean:
	dh_clean
	rm -rf mp3tom4b.egg-info
